@header-height: 50px;
@edge: 4px;
@pane-title-height: 30px;
@sans: Helvetica, Arial, Verdana, sans-serif;
@mono: 'Fira Mono', monospace;

.pos(@top, @left) {
  position: absolute;
  top: @top;
  left: @left;
}

.box(@top, @right, @bottom, @left) {
  .pos(@top, @left);
  right: @right;
  bottom: @bottom;
  box-sizing: border-box;
}

.Header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: @header-height + @edge;
  box-sizing: border-box;
  font-family: @mono;
}

.Main {
  .box(@header-height, 0, 0, 0);
  background: white;
}

.LeftPane {
  .box(1em, 50%, 1em, 1em);
}

.RightPane {
  .box(1em, 1em, 1em, 50%);
}

.PageTitle {
  .box(0, 0, 0, 0);
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  background: none;
  border: none;
  padding: .3em 1em;
  margin: 0;
}

// .Source {
// }

// .Preview {
// }

.CodeMirror-container {
  .box(0, 0, 0, 0);
}
