@import url('http://fonts.googleapis.com/css?family=Fira+Mono:400,700');
@import 'codemirror.less';
@import 'editor.less';

body {
  background: silver;
}

.Author {

}

.Author-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
