doctype html
html
  head
    title Hello
    link(rel="stylesheet" href="/index.css" type="text/css")
    script(src="/6to5.min.js" async defer)
    script(src="/source-map.min.js" async defer)

  body
    .Header
      h1.PageTitle JavaScript ES6 to ES5 online converter
      .Author
        img.Author-photo(src="/alexgorbatchev.jpeg")
        .Author-name alexgorbatchev

    .Main
      .LeftPane.Source
        .CodeMirror-container

      .RightPane.Preview
        .CodeMirror-container

script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
script(src="/thirdparty.js")
script(src="/index.js")
